@import "@workspace/ui/style/globals.css";

:root {
	/* Brand Style */
	--brand-50: oklch(0.978 0.046 196);
	--brand-100: oklch(0.933 0.116 196);
	--brand-200: oklch(0.884 0.174 197);
	--brand-300: oklch(0.83 0.246 197);
	--brand-400: oklch(0.743 0.363 191);
	--brand-500: oklch(0.667 0.357 187);
	--brand-600: oklch(0.567 0.327 188);
	--brand-700: oklch(0.443 0.308 187);
	--brand-800: oklch(0.317 0.291 187);
	--brand-900: oklch(0.182 0.269 187);
}
